/* Style de base */
body {
    background-image: url('/img/pixel-forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.btn {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Styles pour le thème sombre */
body.dark-theme {
    background-image: none; /* Vous pouvez ajouter une image différente si vous le souhaitez */
    background-color: #121212; /* Couleur de fond pour le thème sombre */
    color: #ffffff; /* Couleur du texte pour le thème sombre */
}

.container.dark-theme {
    background-color: rgba(255, 255, 255, 0.1); /* Changer la couleur du container pour le thème sombre */
}

.dark-theme .btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

.dark-theme .btn-outline-light:hover {
    background-color: #ffffff;
    color: #121212;
}

.dark-theme .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.dark-theme .btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
